.root{
    -fx-background-color: black;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
}
.tool-bar{
    -fx-background-color: #1dbbdd11;
}
.button{
    -fx-background-color: #1dbbdd11;
}

.label{
    -fx-background-color: #1dbbdd11;
}

.menu-bar{
    -fx-background-color: #1dbbdd11;
}
.filler{
    -fx-background-color: #1dbbdd11;
}

.scroll-pane .filler{
    -fx-background-color:purple;
}
